body {
  text-align: center;
}

h1 {
  color: #333;
}

#puzzle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cell {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  margin: 2px;
  border: 1px solid #333;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

#result-text {
  margin-top: 10px;
  font-weight: bold;
}
